.app{
    margin-top:70px;
    margin-left:30px;
    margin-right:30px;
}
.item-container{
    display:flex;
  flex-wrap: wrap;
    box-shadow: 0 0 0 5 #cccccc;
    justify-content: space-around;
}
.item-container>.item-card{
    height:380px;
    width:300;
padding:20px;
/* margin:10px; */
box-shadow: 0px 0px 5px #dfdfdf;
text-decoration: none;
}
.item-img{
    height:250px;
    width:auto;
}
button{
height:30px;
width:100%;
} 
h3{
color:red;
}
.cart{
color:white;
position: relative;
top:-20px;
font-size: small;
font-weight: bold;
background-color:black;
z-index: -1;
}